body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* 适配小屏幕 */
    margin-top: 20px;
}

.section {
    width: 45%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.section-header {
    background-color: #246fc5;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.section-content {
    padding: 20px;
}

.section-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

h2 {
    margin: 0;
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #555;
}
